*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.gird-container{
    display: grid;
    margin-bottom: 80px;
    grid-gap: 10px;
    background-color: rgb(51, 51, 196);
    padding: 10px;
}

.grid-item{
         background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        text-align: center;
        font-size: 30px;      
}
.item1{
    grid-column: 1/3;
    grid-row: 1;
}

.item2{
    grid-column: 3;
    grid-row: 1/3;
}
 .item3{
    grid-column: 1/2;
    grid-row: 2/3;
}  


.item5{
    grid-column: 1/ 4;
    grid-row: 3;
}

.grid-containers{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 80px;
    background-color: #2d3eda;
    padding: 10px;
}
.grid-containers >div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item6{
    grid-column: 1/5;
    background-color: blue;
}


.grid-containeres{
    display: grid;
    grid-gap: 10px;
    background-color: rgb(51, 51, 196);
    padding: 10px;
    margin-bottom: 80px;
    grid-template-columns: auto  auto  auto  auto  auto  auto;
}
.grid-containeres >div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    
    font-size: 30px;
}
.item21{
    grid-column: 1/2;
    background-color: rgb(51, 51, 196);
    grid-row: 1/4;
}


.grids-container{
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto;
    grid-gap: 10px;
    margin-bottom: 80px;
    background-color: #2d3eda;
    padding: 10px;
}
.grids-container >div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item44{
    grid-area: 1/2/5/6;
}



.gried-container{
    display: grid;
    grid-template-columns: 188px 223px 197px 268px 212px 240px;
    grid-gap: 20px;
    height: 100vh;
    margin-bottom: 80px;
    padding: 10px;
    justify-content: center;
}
.item52{
    grid-column-start: 1;
    grid-column-end: 2;
 }
 
.item53 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item54{
    grid-column-start: 4;
    grid-column-end: 5;
}
.item55{
    grid-column-start: 5;
    grid-column-end: 7;
}
.item56 {
    grid-column-start: 1;
    grid-column-end: 3;
}
 
.item57 {
    grid-column-start: 3;
    grid-column-end: 5;
}
.item58{
    grid-column-start: 5;
    grid-column-end: 6;
}
.item59{
    grid-column-start: 6;
    grid-column-end: 7;
}

.item60{
    grid-column-start: 1;
    grid-column-end: 2;
 }
 
 .item61 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item62{
    grid-column-start: 4;
    grid-column-end: 6;
}
.item63{
    grid-column-start: 6;
    grid-column-end: 7;
}